<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>,</h1>
    <p>
      Thank you for registering on CoolTourist webpage. Your account will be verified shortly and you will have full access to your profile.
    </p>
  </body>
</html>